@use "../utils" as *;

.button {
  @include preset("5");
  display: inline-block;
  background-color: var(--neutral-900);
  color: var(--white);
  padding: var(--space-200) var(--space-400);
  border-radius: var(--space-125);
  outline: 0;
  border: 0;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;

  &--sm {
    padding: var(--space-150) var(--space-200);
  }

  &--round {
    @include preset("8");
    border-radius: var(--space-500);
    padding: var(--space-150);
  }

  &:hover {
    background-color: var(--neutral-800);
  }

  &:focus {
    outline: var(--space-25) solid var(--neutral-900);
    outline-offset: var(--space-25);
  }
}
