@use "../utils" as *;

.header {
  height: 5.75rem;
  padding-inline: clamp(var(--space-200), 3.5vw, var(--space-750));
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  border-block-end: var(--space-12) solid var(--neutral-300);

  & > *:last-child {
    justify-self: end;
  }

  .button {
    justify-self: end;
    @include mq(m) {
      display: none;
    }
  }
}

.logo {
  justify-self: start;

  img {
    width: auto;
    max-width: 16.25rem;

    @include mq(s) {
      max-width: 13rem;
    }
  }
}
